.produto {
    background-color: gainsboro;
}

h2 {
    font-size: 30px;
    padding-left: 10px;
    border-left: 10px solid blue;
}

.preco {
    font-weight: bold;
    font-size: 20px;
}

.destaque {
    color: brown;
}